body {
  margin: 0;
  padding: 0;
  background: #363636;
  color: #f6f6f6;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

